body {
  margin: 0;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

div {
  display: block;
}

section {
  display: block;
}

ul {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section_theme_intro {
  background: rgb(241, 249, 251);
  background: linear-gradient(
    162deg,
    rgba(241, 249, 251, 1) 71%,
    rgba(219, 219, 221, 1) 100%
  );
  color: #4f4f4f;
}

.margin-right {
  margin-right: 50px;
}

.section_theme_whiteblock {
  background-color: #ffffff;
  color: #333333;
}

.section_theme_blueblock {
  background: rgb(0, 23, 71);
  background: linear-gradient(
    135deg,
    rgba(0, 23, 71, 1) 0%,
    rgba(50, 87, 168, 1) 100%
  );
  color: #ffffff;
}

.section_theme_lightgreenblock {
  background-color: #f1f9fb;
  color: #333333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1182px;
  padding-left: 30px;
  padding-right: 30px;
}

.nobullets {
  list-style-type: none;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 25px;
  padding: 0.8em 0.8em;
  max-width: 100%;
  min-width: 0;
  text-align: center;
  font: inherit;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  background: #008fb1;
  transition: 125ms;
  cursor: pointer;
}

.button__content {
  color: #fff;
}

.button:hover {
  background-color: #005469;
}

.text_hover:hover {
  color: #005469;
  font-size: 16px;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  min-height: 800px;
}

.intro__left {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  flex: 1 1 700px;
  padding-top: 150px;
}

.intro__right {
  width: 100%;
  flex: 1 1 250px;
  position: relative;
  min-height: 800px;
}

.intro__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 700px;
}

.title_break {
  margin-top: 0;
  margin-bottom: 15px;
}

.intro__buttons {
  margin-top: 20px;
  margin-bottom: 0;
}

.title_1 {
  font-family: trajan-sans-pro, sans-serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
  font-style: normal;
  line-height: 1.25;
  color: #008fb1;
}

.title_2 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
}

.text_1 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.text_2 {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
}

.section__inner {
  padding-top: 75px;
  padding-bottom: 100px;
}

.section__title {
  position: relative;
  top: 0px;
  right: 0px;
  margin-bottom: 75px;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-grid__column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 0px;
  flex: 1 1 250px;
}

.align_items-left {
  align-items: flex-start;
  justify-content: left;
}

.content-grid__toothpain-card {
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 200px;
  margin: 0 30px 30px 0;
  padding: 30px 30px;
  width: 500px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 150px;
}

.toothpain-card__toothpain-card-icon {
  justify-content: left;
  align-items: center;
  padding: 0 20px 0 40px;
}

.toothpain-card__toothpain-card-icon {
  justify-content: right;
  align-items: center;
  padding-right: 20px;
}

.details_link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: 125ms;
  margin: 10px 0;
  cursor: pointer;
  color: #3257a8;
}

.doctors-carousel {
  position: relative;
}

.doctors-carousel__wrapper {
  margin: 0 50px;
}

.prev {
  position: absolute;
  top: 40%;
  left: 0%;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 40%;
  right: 0%;
  transform: rotate(180deg);
  cursor: pointer;
}

.doctor-photo {
  position: relative;
  height: 435px;
  width: 325px;
}

.doctor-photo img {
  position: absolute;
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
}

.doctor-text {
  text-align: left;
  margin-top: 20px;
  width: 325px;
}

.doctor-name {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
}

.doctor-desc {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #008fb1;
}

.our-works {
  margin-bottom: -5px;
}
.desease-img img {
  width: 100%;
}

.map {
  min-width: 70%;
}

.map__textblock {
  margin: 0 20px 35px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.map__textblock .button {
  max-width: 200px;
}

.bulleted-list {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.grey-text {
  color: #4f4f4f;
}

.green-text {
  color: #008fb1;
}

.justify-center {
  justify-content: center;
}

.noIndent-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.reviews__card {
  background-color: #f1f9fb;
  padding: 30px;
  height: 400px;
  border-radius: 50px;
  margin: 0 15px;
}

.reviews__reviewer-photo {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.reviews__reviewer {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews__reviewer-name {
}

.reviews__cardbottom {
  padding: 20px;
}

.reviews__leftquote {
  margin-bottom: 10px;
}

.reviews__rightquote {
  margin-top: 10px;
  float: right;
}
