body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

div {
  display: block;
}

section {
  display: block;
}

ul {
  display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section_theme_intro {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 15%,
    rgba(49, 49, 49, 1) 100%
  );
}

.section_theme_whiteblock {
  background-color: #ffffff;
  color: #333333;
}

.section_theme_blueblock {
  background: rgb(0, 23, 71);
  background: linear-gradient(
    135deg,
    rgba(0, 23, 71, 1) 0%,
    rgba(50, 87, 168, 1) 100%
  );
  color: #ffffff;
}

.section_theme_greyblock {
  background-color: #e0e0e0;
  color: #333333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1182px;
  padding-left: 30px;
  padding-right: 30px;
}

.nobullets {
  list-style-type: none;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0;
  padding: 0.8em 0.8em;
  max-width: 100%;
  min-width: 0;
  text-align: center;
  font: inherit;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  background: #3257a8;
  transition: 125ms;
  cursor: pointer;
}

.button:hover {
  background-color: #1845a6;
}

.text_hover:hover {
  color: #1845a6;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  color: #ffffff;
}

.intro__left {
  padding: 230px 0 150px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.intro__right {
  position: relative;
  min-height: 350px;
}

.intro__right img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.title_break {
  margin-top: 0;
  margin-bottom: 15px;
}

.intro__buttons {
  margin-top: 20px;
  margin-bottom: 0;
}

.title_1 {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

.title_2 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
}

.text_1 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-align: justify;
}

.text_2 {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  text-align: justify;
}

.our-works {
  margin-bottom: -5px;
}
.desease-img img {
  width: 100%;
}

.section__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__title {
  position: relative;
  top: 0px;
  right: 0px;
  margin-bottom: 50px;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-grid__column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 0px;
  flex: 1 1 250px;
}

.align_items-left {
  align-items: flex-start;
  justify-content: left;
}

.margin-right {
  margin-right: 50px;
}

.content-grid__toothpain-card {
  overflow: hidden;
  display: flex;
  justify-content: right;
  height: 180px;
  margin: 0 15px 15px 0;
  width: 100%;
  min-width: 450px;
}

.toothpain-card__toothpain-card-icon {
  padding-right: 10px;
}

.content-grid__specialists-card {
  overflow: hidden;
  display: flex;
  justify-content: right;
  margin: 0 0 25px 0;
  width: 100%;
  min-width: 400px;
}

.content-grid__specialists-card-icon {
  padding-right: 10px;
}

.details_link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: 125ms;
  margin: 10px 0;
  cursor: pointer;
  color: #3257a8;
}

.doctors-carousel {
  position: relative;
}

.doctors-carousel__wrapper {
  margin: 0 50px;
}

.prev {
  position: absolute;
  top: 40%;
  left: 0%;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 40%;
  right: 0%;
  transform: rotate(180deg);
  cursor: pointer;
}

.doctor-photo {
  background-color: #bdbdbd;
  position: relative;
  height: 435px;
  width: 325px;
}

.doctor-photo img {
  position: absolute;
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
}

.doctor-text {
  text-align: left;
  margin-top: 20px;
  width: 325px;
}

.doctor-name {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
}

.doctor-desc {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #3257a8;
}

.map {
  min-width: 70%;
}

.map__textblock {
  margin: 0 20px 35px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.map__textblock .button {
  max-width: 200px;
}

.bulleted-list {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.grey-text {
  color: rgba(0, 0, 0, 0.5);
}

.blue-tag {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(0, 23, 71);
  background: linear-gradient(
    135deg,
    rgba(0, 23, 71, 1) 0%,
    rgba(50, 87, 168, 1) 100%
  );
  color: #ffffff;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
  border: 0;
  padding: 0.5em 0.5em;
  margin: 0.2em 0 0.4em 0;
  max-width: 100%;
  min-width: 0;
  text-align: center;
  font: inherit;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: 125ms;
}

.checkbtn {
  color: white;
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 900px) {
  .checkbtn {
    display: block;
  }
  .header__action {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    top: 77px;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 20px 0;
    right: -100%;
    text-align: center;
    transition: all 0.7s;
  }

  .header__nav {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 1.25;
    padding: 0 0 15px 0;
  }

  #check:checked ~ .header__action {
    right: 0%;
  }
}

.noIndent-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
